.section-banner {
  position: relative;
  width: 100%;
  height: 60vh; /* ocupa pantalla completa */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.653); /* oscurece la foto para mejor legibilidad */
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  text-align: center;
  color: #fff;
  max-width: 600px;
  text-shadow: 2px 4px 12px rgba(0,0,0,0.7);
  margin-top: 10px;
}

.titulo-banner {
  font-size: 3rem;
  /* margin-bottom: 1rem; */
  font-weight: 700;
text-shadow: 2px 4px 12px rgba(0,0,0,0.7);
}

.parrafo-banner {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.693);
}

.banner-cta {
  display: inline-block;
  text-decoration: none;
}

.banner-cta .Button {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.cta-icon {
  margin-left: 0.5em;
}

.cta-icon svg {
  color: #fff; 
}

/* 📱 Mobile */
@media (max-width: 768px) {
  .section-banner {
    height: 70vh; /* en mobile ocupa el 70% */
  }

  .titulo-banner {
    font-size: 2rem;
  }

  .parrafo-banner {
    font-size: 1rem;
  }
}
